@import 'nav.css';
@import 'footer.css';

body {
    background-color: #cfe8d5; /* Fondo verde tono claro */
    font-family: Arial, sans-serif;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.article-details-container {
    display: flex;
    flex-direction: column; /* Alinear elementos verticalmente */
    align-items: center; /* Centrar los elementos horizontalmente */
}

.article-details-container img {
    width: 20%; /* Ajusta el ancho de la imagen al 100% del ancho del contenedor */
    height: auto; /* Permite que la altura de la imagen se ajuste automáticamente */
    object-fit: cover; /* Ajusta la imagen dentro del contenedor cubriéndolo completamente */
    border-radius: 8px;
    margin-bottom: 10px; /* Ajusta el espacio entre la imagen y el nombre */
    margin-top: 8px;
}

.article-details-container h2 {
    text-transform: capitalize;
    margin-bottom: 0px; /* Ajusta el espacio entre el nombre y el precio */
    position: relative;
}

.article-details-container p {
    margin-bottom: 0px; /* Ajusta el espacio entre el precio y otros elementos */
    font-size: 18px;
    font-weight: 30px;
}
#payButton {
    display: block;
    margin: 20px auto;
    padding: 10px 30px;
    background-color: #25d366;
    color: white;
    border: none;
    border-radius: 20px; /* Ajusta el valor según el grado de redondez deseado */
    cursor: pointer;
    font-size: 16px;
}
#payButton img {
    width: 60px;
    height: 60px;
    margin-right: 10px; /* Ajusta el espacio entre la imagen y el texto */
    border-radius: 40%; /* Hace que la imagen se vea redonda */
}


