.product-details {
    width: 100%;
    padding: 60px 10vw;
    display: flex;
    justify-content: space-between;
}

.image-slider {
    width: 600px;
    height: 400px;
    position: relative;
    background-image: url('../img/imagenFiligrana02.jpeg');
    background-size: cover;
}

.product-images {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start; /* Ajuste para que las imágenes comiencen desde el borde izquierdo */
    align-items: center;
    height: 100px;
    overflow-x: auto;
    padding: 10px;
}

.product-images img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
    margin-right: 10px;
}


.product-images img.active {
    opacity: 0.5;
}

.details {
    width: 50%;
}

.details .product-brand {
    text-transform: capitalize;
    font-size: 30px;
}

.details .product-short-des {
    font-size: 25px;
    line-height: 30px;
    height: auto;
    margin: 15px 0 30px;
}

.product-price {
    font-weight: 700;
    font-size: 30px;
}

.product-actual-price {
    font-size: 30px;
    opacity: 0.5;
    text-decoration: line-through;
    margin: 0 20px;
    font-weight: 300;
}

.product-discount {
    color: #ff7d7d;
    font-size: 20px;
}

.product-sub-heading {
    font-size: 30px;
    text-transform: uppercase;
    margin: 60px 0 10px;
    font-weight: 300;
}

.size-radio-btn {
    display: inline-block;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #383838;
    border-radius: 50%;
    margin: 10px;
    margin-left: 0;
    line-height: 80px;
    text-transform: uppercase;
    color: #383838;
    cursor: pointer;
}

.size-radio-btn.check {
    background: #383838;
    color: #fff;
}
.btn {
    width: auto; /* Ancho automático para adaptarse al contenido */
    height: auto; /* Altura automática para adaptarse al contenido */
    padding: 10px 20px; /* Ajusta el relleno según sea necesario */
    border-radius: 5px; /* Borde redondeado */
    background: none;
    border: 1px solid #383838;
    color: #383838;
    font-size: 20px;
    cursor: pointer;
    margin: 20px 0;
    text-transform: capitalize;
    display: inline-flex; /* Alinea los elementos como una fila */
    align-items: center; /* Centra verticalmente los elementos */
}

.btn img {
    width: 80px; /* Establece el ancho de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
    border-radius: 50%; /* Hace que la imagen sea redonda */
    margin-right: 10px; /* Agrega un espacio entre la imagen y el texto */
}


.cart-btn {
    margin-right: 2%;
    background: #383838;
    color: #fff;
}
.detail-des {
    padding: 0 10vw;
}

.heading {
    font-size: 30px;
    margin-bottom: 30px;
}

.des {
    color: #383838; /* Color de texto oscuro */
    font-size: 18px; /* Tamaño de letra */
    line-height: 1.6; /* Espaciado entre líneas */
    background-color: #f7f7f7; /* Color de fondo suave */
    padding: 20px; /* Espaciado interno */
}
